<DOCTYPE html>
<html lang="en">
  <head>
	<style>
		#mainmargin{
			margin:150px 20px 20px 100px;
		}
	</style>
    {%- include head.html -%}
  </head>
  <body>
    <main class="container">
      <section class="about">
        <a href="/"><img src="{{ "/assets/profile.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title">
          <a href="/">{{ site.plainwhite.name }}</a>
        </h2>
	<h5>
        <!--<p class="tagline">{{ site.plainwhite.tagline }}</p>-->
	<p> Master student at KAIST </p>
        </h5>
	<ul class="social">
          {%- if site.plainwhite.social_links.github -%}
            <a href="https://github.com/{{ site.plainwhite.social_links.github }}">
              <li>
                <i class="icon-github-circled"></i>
              </li>
            </a>
	    <a href="/assets/doheekim_cv.pdf">
		<li>
		 <img src ="/assets/pdf-file.png">
		</li>
	   </a>
          {%- endif -%}
          {%- if site.plainwhite.social_links.linkedIn -%}
            <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}">
              <li>
                <i class="icon-linkedin-squared"></i>
              </li>
            </a>
<!--
          {%- endif -%}
          {%- if site.plainwhite.social_links.twitter -%}
            <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}">
              <li>
                <i class="icon-twitter-squared"></i>
              </li>
            </a>
-->
          {%- endif -%}
        </ul>

        {%- if site.plainwhite.navigation -%}
          <nav class="navigation">
            <ul>
              {% for link in site.plainwhite.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}

        <p>&copy;
          {{ "now" | date: "%Y" }}</p>
      </section>
      <section class="content" margin="500px">
	{{ }}
        <!-- {{ content }} -->
	<div id="mainmargin"> 
	<h1> About me </h1>
	<p> Hi, My name is Dohee Kim. I'm a master student in <a href="https://cs.kaist.ac.kr">the School of Computing</a> at <a href="https://www.kaist.ac.kr/html/kr/index.html">KAIST</a>, advised by <a href="https://jongse-park.github.io">Prof.Jongse Park</a>. </br> I'm a member of Computer Architecture and Systems Laboratory(<a href="http://casys.kaist.ac.kr/">CASys</a>). </p><p> If you have any questions for me, contact me via my email. My email address is dhkim at casys.kaist.ac.kr</p> 
        </br>
	<p> <a href="/assets/dohekim_cv.pdf"> This is my cv.</a></p>
	<hr/>
	<h2> Research Interest </h2>
	<p> <ul><li> Computer Architecture </li> </p>
		<p> <li> System for Machine Learning </li> </p>
		<p> <li> Edge-to-Cloud Computing </li> </p>
		<p> <li> Distributed Systems </li> </p>
		<p> <li> Approximate Computing </li> </ul> </p>
	<hr/>
	<h2> Education </h2>
	<p> <ul> <li> March 2020 - Current : M.S. in the School of Computing, KAIST </li>
        <p> <li> March 2016 - February 2020 : B.S. in IT engineering, SMWU (Summa Cum Laude)</li></ul> </p>
	<hr/>

	</div>
	</section>
    </main>
    {%- if site.plainwhite.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
  </body>
</html>
