<DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <main class="container">
      <section class="about">
        <a href="/"><img src="{{ "/assets/profile.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title">
          <a href="/">{{ site.plainwhite.name }}</a>
        </h2>
	<h5>
        <!--<p class="tagline">{{ site.plainwhite.tagline }}</p>-->
	<p> Master student at KAIST </p>
        </h5>
	<ul class="social">
          {%- if site.plainwhite.social_links.github -%}
            <a href="https://github.com/{{ site.plainwhite.social_links.github }}">
              <li>
                <i class="icon-github-circled"></i>
              </li>
            </a>
          {%- endif -%}
          {%- if site.plainwhite.social_links.linkedIn -%}
            <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}">
              <li>
                <i class="icon-linkedin-squared"></i>
              </li>
            </a>
<!--
          {%- endif -%}
          {%- if site.plainwhite.social_links.twitter -%}
            <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}">
              <li>
                <i class="icon-twitter-squared"></i>
              </li>
            </a>
-->
          {%- endif -%}
        </ul>

        {%- if site.plainwhite.navigation -%}
          <nav class="navigation">
            <ul>
              {% for link in site.plainwhite.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}

        <p>&copy;
          {{ "now" | date: "%Y" }}</p>
      </section>
      <section class="content" margin="500px">
	{{ }}
        <!-- {{ content }} --> 
	<p> </p>
	<p> </p>
	<h1> </h1>
	<h1> About me </h1>
	<p> Hi, My name is Dohee Kim. I'm a master student in the School of Computing at KAIST, advised by Prof.Jongse Park. </br> I'm a member of CASYS. My research interest include Computer Architecture and system. </p> 
        </br>
	<h2> Education </h2>
	<p> March 2020 - : M.S. in Computer Science, KAIST. </p>
        <p> March 2016 - February 2020 : B.S. in IT engineering, SMWU.(Summa Cum Laude) </p>
	</section>
    </main>
    {%- if site.plainwhite.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
  </body>
</html>
